{{! js_inject_point_text_ab !}}
<!doctype html>
<html lang="en-US">
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
        <title></title>
    </head>
<body id='body' class="{{! js_inject_point_text_utm !}}">
<header class="siteHeader">
    <div class="container">
        <div class="siteHeader-phone">
            <a href="tel:380990070491">+ 38 099 00 70 491</a>
        </div>
        <div class="siteHeader-callback">
            <a href="#callback-form" class="btn btn--small js-callback-popup">Заказать звонок</a>
        </div>
    </div>
</header>
<main class="main-wrapper">
    <section class="siteSection siteSection--teaser">
        <div class="container">
            <h1 class="u-text--center">Сумка трансформер 3 в 1<div class="subheader">Принимает 3 формы подходит под 19 стилей одежды</div></h1>
        </div>
        <div class="siteTeaser-action">
            <a href="#catalogue-form" class="btn js-catalogue-popup">Получить полный каталог</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul>
                        <li>Модно и удобно</li>
                        <li>5 цветов</li>
                        <li>Ключница на шнурке + косметичка</li>
                        <li>Доставка в 2398 городов Украины, России и Польши</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="siteSection">
        <div class="container">
            <h2 class="u-text--center">Сумка трансформер <span>3 в 1</span><div class="subheader">Легко меняйте стиль ничего не забывая в другой сумке</div></h2>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="productThreeInOne-img">
                        <img src="../../images/productThreeInOne-1.png" alt="">
                    </div>
                    <div class="productThreeInOne-title">
                        Сумка
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productThreeInOne-img">
                        <img src="../../images/productThreeInOne-2.png" alt="">
                    </div>
                    <div class="productThreeInOne-title">
                        Рюкзак
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productThreeInOne-img">
                        <img src="../../images/productThreeInOne-3.png" alt="">
                    </div>
                    <div class="productThreeInOne-title">
                        Кисет
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="siteSection">
        <div class="container">
            <h2 class="u-text--center">Модно <span>и</span> Удобно</h2>
        </div>
        <div class="container">
            <div class="siteFashionable">
                <img src="../../images/red-bag-img.png" alt="">
                <ul>
                    <li>Подойдет на любой рост за счет <br>регулировки лямок от 30 до 130 см.</li>
                    <li>Ручки никогда не растянутся за счет <br>вшитой внутри веревки</li>
                    <li>Самое нужное всегда под <br>рукой за счет отдельного <br>кармана</li>
                    <li>Внутри 1 карман для телефона</li>
                    <li>Внутри плотная, мягкая подкладка</li>
                    <li>Внутри 2 широких боковых кармана на змейке</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="siteSection">
        <div class="container">
            <h2 class="u-text--center"><span>6 Ярких</span> цветов выбери свой</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="productBright-img">
                        <img src="../../images/productBright-img-1.png">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productBright-img">
                        <img src="../../images/productBright-img-2.png">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productBright-img">
                        <img src="../../images/productBright-img-3.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="productBright-img">
                        <img src="../../images/productBright-img-4.png">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productBright-img">
                        <img src="../../images/productBright-img-5.png">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productBright-img">
                        <img src="../../images/productBright-img-6.png">
                    </div>
                </div>
            </div>
            <div class="u-text--center"><a href="#catalogue-form" class="btn js-catalogue-popup">Получить полный каталог с ценами</a></div>
        </div>
    </section>
    <section class="siteSection">
        <div class="container">
            <h2 class="u-text--center">Размеры сумки</h2>
            <div class="u-text--center"><img src="../../images/brown-bag.png" alt=""></div>
        </div>
    </section>
    <section class="siteSection">
        <div class="container">
            <h2 class="u-text--center">Дополнительная комплектация</h2>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="productAdditional-img">
                        <img src="../../images/productAdditional-1.png" alt="">
                    </div>
                    <div class="productAdditional-title">
                        Находите ключи в сумке за 3 секунды за счет ключници на шнурке
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="productAdditional-img">
                        <img src="../../images/productAdditional-2.png" alt="">
                    </div>
                    <div class="productAdditional-title">
                        Нужная помада всего за 15 секунд без всяких усилий за счет прозрачной косметички
                    </div>
                </div>            
            </div>
        </div>
    </section>
    <section class="siteSection siteSection--bordered">
        <div class="container">
            <h2 class="u-text--center">Отзывы</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="feedbackItem clearfix">
                        <div class="feedbackItem-img">
                            <img src="../../images/face-1.png">
                        </div>
                        <div class="feedbackItem-content">
                            <div class="feedbackItem-name">
                                Мирослава Жимирова
                            </div>
                            <div class="feedbackItem-city">
                                г. Запорожье
                            </div>
                            <div class="feedbackItem-text">
                                Получила сумку и довольна ))), очень удобная и стильная.
                            </div>
                        </div>
                    </div>
                    <div class="feedbackItem clearfix">
                        <div class="feedbackItem-img">
                            <img src="../../images/face-2.png">
                        </div>
                        <div class="feedbackItem-content">
                            <div class="feedbackItem-name">
                                Инга Харатиянт
                            </div>
                            <div class="feedbackItem-city">
                                г. Львов
                            </div>
                            <div class="feedbackItem-text">
                                Давно искала эту сумку, очень удобная, много карманов, носи как хочешь и под что хочешь. Это просто идеальная сумка.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feedbackItem clearfix">
                        <div class="feedbackItem-img">
                            <img src="../../images/face-3.png">
                        </div>
                        <div class="feedbackItem-content">
                            <div class="feedbackItem-name">
                                Надежда Влащенко
                            </div>
                            <div class="feedbackItem-city">
                                г. Харьков
                            </div>
                            <div class="feedbackItem-text">
                                Сумка очень удобная для тренировок да и вообще очень продуманно сделана. Радует что это наши Харьковчане делают.
                            </div>
                        </div>
                    </div>
                    <div class="feedbackItem clearfix">
                        <div class="feedbackItem-img">
                            <img src="../../images/face-4.png">
                        </div>
                        <div class="feedbackItem-content">
                            <div class="feedbackItem-name">
                                Евгения Кортон
                            </div>
                            <div class="feedbackItem-city">
                                г. Харьков
                            </div>
                            <div class="feedbackItem-text">
                                Супер сумка!!! Давно искала эту сумку, носи как хочешь и под что хочешь. Это просто идеальная сумка.
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </section>
    <section class="siteSection siteSection--bordered">
        <div class="container">
            <h2 class="u-text--center">Как мы <span>работаем</span></h2>
            <div class="row">
                <div class="col-sm-3 col-md-3 workItem">
                    <div class="workItem-img">
                        <div class="workItem--query">
                        </div>
                    </div>
                    <div class="workItem-title">
                        Оставляете заявку
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 workItem">
                    <div class="workItem-img">
                        <div class=" workItem--manager">
                        </div>
                    </div>
                    <div class="workItem-title">
                        С Вами связывается наш менеджер и оформляет доставку
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 workItem">
                    <div class="workItem-img">
                        <div class="workItem--send">
                        </div>
                    </div>
                    <div class="workItem-title">
                        Высылается сумка
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 workItem">
                    <div class="workItem-img">
                        <div class="workItem--pay">
                        </div>
                    </div>
                    <div class="workItem-title">
                        Оплачиваете после просмотра
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="siteSection siteSection--bordered">
        <div class="container">
            <div class="u-text--center"><img src="../../images/guarantee.png" alt=""></div>
        </div>
    </section>
    <section class="siteSection">
        <div class="container">
            <h2 class="u-text--center">Весенние комплекты<div class="subheader">В связи с началом сезона только до 15 Мая 2018, повторов не будет</div></h2>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="productSpring">
                        <div class="productSpring-title">
                            Сумка
                            <br>Ключница
                            <br>Косметичка
                        </div>
                        <div class="productSpring-img">
                            <img src="../../images/productSpring-1.png">
                        </div>
                        <div class="productSpring-price">
                            <span>1930 грн.</span>
                            1280 грн.
                        </div>
                        <div class="productSpring-action">
                            <a href="#buybag-form" class="btn js-buybag-popup">Хочу такую</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productSpring">
                        <div class="productSpring-title">
                            Сумка
                            <br>Ключница
                        </div>
                        <div class="productSpring-img">
                            <img src="../../images/productSpring-2.png">
                        </div>
                        <div class="productSpring-price">
                            <span>1590 грн.</span>
                            940 грн.
                        </div>
                        <div class="productSpring-action">
                            <a href="#buybag-form" class="btn js-buybag-popup">Хочу такую</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="productSpring">
                        <div class="productSpring-title">
                            Сумка
                        </div>
                        <div class="productSpring-img">
                            <img src="../../images/productSpring-3.png">
                        </div>
                        <div class="productSpring-price">
                            <span>1440 грн.</span>
                            790 грн.
                        </div>
                        <div class="productSpring-action">
                            <a href="#buybag-form" class="btn js-buybag-popup">Хочу такую</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="siteSection siteSection--bordered">
        <div class="container">
            <h2 class="u-text--center">Наши контактые данные</h2>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="contactUs-address">
                        <div class="contactUs-title">Наш адрес</div>
                        Украина, город Харьков,
                        <br>Улица Достоевского 16.
                        <br>Почтовый индекс 61009
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="contactUs-phone">
                        <a href="tel:3800990070491">+380 (099) 00 70 491</a>
                        <a href="mailto:sumka.rukzak.kh@gmail.com">sumka.rukzak.kh@gmail.com</a>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-md-offset-1">
                    <div class="contactUs-callback">
                        <p>Остались вопросы? Закажите консультацию</p>
                        <a href="#callback-form" class="btn btn--small js-callback-popup">Перезвоните мне</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div id="callback-form" class="mfp-hide white-popup-block sitePopUp">
    <form action="" 
        data-error-title="Ошибка отправки"
        data-error-message="Попробуйте отправить заявку через некоторое время"
        data-success-title="Спасибо за заявку"
        data-success-message="Наш менеджер свяжется с вами в ближайшее время"
    >
        <button title="%title%" type="button" class="mfp-close">&#215;</button>
        <h2>Заявка на обратный звонок</h2>
        <fieldset style="border:0;">
            <input id="name" name="name" type="text" placeholder="Ваше имя" required="">
            <input id="phone" name="phone" type="tel" placeholder="Ваш номер телефона" required="">
            <input id="email" name="email" type="email" placeholder="Ваша электронная почта" required="">
            <div class="u-text--center"><button type="submit">Отправить</button></div>
        </fieldset>
    </form>
</div>
<div id="catalogue-form" class="mfp-hide white-popup-block sitePopUp">
    <form action="" 
        data-error-title="Ошибка отправки"
        data-error-message="Попробуйте отправить заявку через некоторое время"
        data-success-title="Спасибо за заявку"
        data-success-message="Наш менеджер свяжется с вами в ближайшее время"
    >
        <button title="%title%" type="button" class="mfp-close">&#215;</button>
        <h2>Заявка на получение каталога</h2>
        <fieldset style="border:0;">
            <input id="name" name="name" type="text" placeholder="Ваше имя" required="">
            <input id="phone" name="phone" type="tel" placeholder="Ваш номер телефона" required="">
            <input id="email" name="email" type="email" placeholder="Ваша электронная почта" required="">
            <div class="u-text--center"><button type="submit">Отправить</button></div>
        </fieldset>
    </form>
</div>
<div id="buybag-form" class="mfp-hide white-popup-block sitePopUp">
    <form action="" 
        data-error-title="Ошибка отправки"
        data-error-message="Попробуйте отправить заявку через некоторое время"
        data-success-title="Спасибо за заявку"
        data-success-message="Наш менеджер свяжется с вами в ближайшее время"
    >
        <button title="%title%" type="button" class="mfp-close">&#215;</button>
        <h2>Заявка на сумку трансформер</h2>
        <fieldset style="border:0;">
            <input id="name" name="name" type="text" placeholder="Ваше имя" required="">
            <input id="phone" name="phone" type="tel" placeholder="Ваш номер телефона" required="">
            <input id="email" name="email" type="email" placeholder="Ваша электронная почта" required="">
            <div class="u-text--center"><button type="submit">Отправить</button></div>
        </fieldset>
    </form>
</div>
</body>
</html>