.siteHeader {
	text-align: right;
	@include breakpoint(medium) {
		padding: 8px 0;
	}
}
.siteHeader-phone {
	display: inline-block;
	margin: 12px 12px 12px 0;
	line-height: 1;
	font-family: $font-base-bold;
	@include breakpoint(medium) {
    	margin: 12px 30px 12px 0;
    }
	a {
		font-size: 16px;
		height: 38px;
	    display: inline-block;
	    vertical-align: middle;
	    line-height: 38px;
    	color: $black;
	    @include breakpoint(medium) {
	    	font-size: 20px;
	    }
	}
}
.siteHeader-callback {
	display: inline-block;
}
.siteTeaser-action {
	text-align: center;
	margin-bottom: 20px;
	font-size: $fontSize-large;
	@include breakpoint(medium) {
		background: url("../images/teaser-bags.png") no-repeat;
		background-position: center;
		background-size: 100%;
		padding: 60px 0;
		height: 380px;
	}
	@include breakpoint(large) {
		padding: 120px 0;
		height: 500px;
		background-size: auto;
	}
}
.productThreeInOne-img {
	@include breakpoint (medium) {
		margin-bottom: 20px;
		height: 320px;
		overflow: hidden;
	}
	@include breakpoint (large) {
		margin-bottom: 40px;
		height: 450px;
	}
	@include breakpoint (xlarge) {
		height: 507px;
	}
}
.productThreeInOne-title {
	text-align: center;
	margin-bottom: 30px;
	@include breakpoint (medium) {
		margin-bottom: 0px;
	}
}
.siteFashionable {
	position: relative;
	@include breakpoint (large) {
		background: url("../images/red-bag.png") no-repeat;
		background-position: center;
		height: 580px;
	}
	img {
		@include breakpoint (large) {
			display: none;
		}
	}
	ul {
		@include breakpoint (large) {
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		li {
			@include breakpoint (large) {
				position: absolute;
				&:before {
					content: none;
					padding: 0;
				}
			}
			&:nth-child(1) {
				@include breakpoint (large) {
					top: -60px;
    				left: 232px;
				}
			}
			&:nth-child(2) {
				@include breakpoint (large) {
				    right: 190px;
				    top: 10px;
				}
			}
			&:nth-child(3) {
				@include breakpoint (large) {
				    top: 240px;
				    left: 0;
				}
			}
			&:nth-child(4) {
				@include breakpoint (large) {
				    left: 0;
				    bottom: 50px;
				}
			}
			&:nth-child(5) {
				@include breakpoint (large) {
				    bottom: -40px;
				    right: 305px;
				}
			}
			&:nth-child(6) {
				@include breakpoint (large) {
				    bottom: 70px;
				    right: 0;
				}
			}
		}
	}
}
.productBright-img {
	margin-bottom: 30px;
	@include breakpoint (medium) {
		height: 320px;
		overflow: hidden;
	}
	@include breakpoint (large) {
		height: 450px;
	}
	@include breakpoint (xlarge) {
		height: 507px;
		overflow: hidden;
	}
}
.productAdditional-img {
	height: 400px;
	border: solid 1px #efefef;
	line-height: 400px;
	text-align: center;
	background: $white;
	margin-bottom: 15px;
	@include breakpoint (medium) {
		margin-bottom: 40px;
	}
	img {
		vertical-align: middle;
	}
}
.productAdditional-title {
	text-align: center;
	margin-bottom: 30px;
	@include breakpoint (medium) {
		margin-bottom: 0;
	}
}
.feedbackItem {
	margin-bottom: 30px;
}
.feedbackItem-img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	@include breakpoint (medium) {
		float: left;
		margin-right: 30px;
	}
	img {
		max-width: none;
	}
}
.feedbackItem-content {
	padding: 20px 0;
	text-align: center;
	@include breakpoint (medium) {
		overflow: hidden;
		text-align: left;
	}
}
.feedbackItem-name {
	font-family: $font-base-bold;
	margin-bottom: 10px;
}
.feedbackItem-city {
	color: $color-primary;
	margin-bottom: 10px;
}
.feedbackItem-text {
	height: 71px;
	overflow: hidden;
	&:before,
	&:after {
		display: inline-block;
		background: url("../images/sprite.png") no-repeat;
		width: 14px; 
		height: 10px;
	    background-position: -250px -134px;
	}
	&:before {
		content: '';
	    transform: rotate(180deg);
	}
	&:after {
		content: '';
	    background-position: -250px -134px;
	}
}
.workItem {
	position: relative;
	@include breakpoint (large) {
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 77px;
			right: 0;
			margin-right: -3px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: $color-primary;
			box-shadow: -28px 0px 0px 0px #cdcdcd, 
						28px 0px 0px 0px #cdcdcd;
		}
		&:last-child {
			&:after {
				content: none;
			}
		}
	}
}
.workItem-img {
	border: solid 1px #cdcdcd;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin: 0 auto 10px;
	line-height: 160px;
	text-align: center;
	@include breakpoint (medium) {
		margin: 0 auto 30px;
	}
	.workItem--query {
		display: inline-block;
		width: 58px; 
		height: 58px;
		background: url("../images/sprite.png") no-repeat;
    	background-position: -206px -10px;
    	vertical-align: middle;
	}
	.workItem--manager {
		display: inline-block;
		width: 80px; 
		height: 76px;
		background: url("../images/sprite.png") no-repeat;
    	background-position: -10px -10px;
    	vertical-align: middle;
	}
	.workItem--send {
		display: inline-block;
		width: 76px; 
		height: 52px;
		background: url("../images/sprite.png") no-repeat;
    	background-position: -10px -106px;
    	vertical-align: middle;
	}
	.workItem--pay {
		display: inline-block;
		width: 76px; 
		height: 62px;
		background: url("../images/sprite.png") no-repeat;
    	background-position: -110px -10px;
    	vertical-align: middle;
	}
}
.workItem-title {
	text-align: center;
	margin-bottom: 30px;
	@include breakpoint (medium) {
		margin-bottom: 0;
	}
}
.productSpring  {
	transition: all .3s ease-in-out;
	margin-bottom: 30px;
	@include breakpoint (medium) {
		margin-bottom: 0;
	}
	&:hover,
	&:focus {
		cursor: pointer;
		.btn {
		    position: relative;
		    text-align:center;
		    line-height: 1;
		    color: $white;
		    text-decoration:none;
		    display: inline-block;
		    margin: 12px 0;
		    text-shadow:-1px -1px 0 #A84155;
		    font-family: $font-base-extrabold;
		    padding: 22px 20px;
		    background: #D25068;
		    border:1px solid #D25068;
		    background-image:linear-gradient(to bottom, #F66C7B, #D25068);
		    border-radius:6px;
		    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);			
		}
		.productSpring-img {
			img {
				border: solid 3px $white;
				box-shadow: 0px 21px 43px 0 rgba(27, 46, 68, 0.3);
			}
		}
	}
}
.productSpring-title {
	margin-bottom: 15px;
	@include breakpoint (medium) {
		height: 71px;
		overflow: hidden;
		margin-bottom: 30px;
	}
}
.productSpring-img {
	margin-bottom: 10px;
	text-align: center;
	padding: 15px;
	img {
		transition: all .3s ease-in-out;
		@include breakpoint (medium) {
			height: 330px;
			overflow: hidden;
		}
		@include breakpoint (large) {
			height: 497px;
			margin-bottom: 30px;
		}
	}
}
.productSpring-price {
	color: #9c8549;
	font-size: 20px;
	text-align: center;
	@include breakpoint (medium) {
		margin-bottom: 10px;
	}
	@include breakpoint (large) {
		margin-bottom: 30px;
	}
	span {
		display: block;
		font-size: 30px;
		color: $color-primary;
		text-decoration: line-through;
		@include breakpoint (large) {
			margin-bottom: 10px;
		}
	}
}
.productSpring-action {
	text-align: center;
	.btn {
		border: solid 1px $color-primary;
		background: none;
		border-radius: 0;
		color: $color-primary;
		box-shadow: none;
		text-shadow: none;
	}
}
.contactUs-title {
	font-family: $font-base-bold;
	margin-bottom: 10px;
}
.contactUs-phone {
	margin-bottom: 30px;
	@include breakpoint (medium) {
		text-align: right;
		margin-bottom: 0;
	}
	a {
		font-family: $font-base-bold;
		color: $black;
		padding-top: 40px;
	}
}
.siteFooter {
	text-align: center;
	font-family: $font-base-bold;
	padding: 20px 0;
	font-size: $fontSize-xsmall;
	span {
		color: $color-primary;
		text-transform: uppercase;
	}
}
.contactUs-callback {
	@include breakpoint (medium) {
		text-align: center;
	}
}
.contactUs-address {
	margin-bottom: 30px;
	@include breakpoint (medium) {
		margin-bottom: 0;
	}
}
.u-text--center {
    text-align: center;
}
.siteSection {
    padding-top: 20px;
    padding-bottom: 20px;
    @include breakpoint(large) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include breakpoint(xlarge) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    &.siteSection--bordered {
        border-bottom: solid 1px #efefef;
    }
}
.sitePopUp {
	position: relative;
	width: 100%;
	max-width: 390px;
	background: $white;
	box-shadow: 0 0 114px 0 rgba(0, 0, 0, 0.5);
	padding: 45px 50px 35px;
	margin: 0 auto;
 	h2 {
 		font-size: 30px;
 		margin-bottom: 30px;
 		line-height: 1;
 		text-align: center;
 		letter-spacing: 0;
 	}
}
.mfp-bg {
	background: $white;
}
.mfp-close {
	&:hover,
	&:focus {
		color: $color-primary;
		background: none;
	}
}
