input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],
textarea {
    width: 100%;
    padding: 11px 10px 12px;
    font-family: $font-base;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    border: solid 1px #b9b9b9;
    border-radius: 0;
    -webkit-appearance: none;
    border-radius: 6px;
    margin-bottom: 10px;
    &:focus {
    }
    &::placeholder {

    }
}
textarea {
    resize: vertical;
    height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    position: relative;
    text-align:center;
    line-height: 1;
    color: $white;
    text-decoration:none;
    display: inline-block;
    margin: 12px 0;
    text-shadow:-1px -1px 0 #A84155;
    font-family: $font-base-extrabold;
    font-size: $fontSize-xsmall;
    letter-spacing: 2px;
    padding: 10px 15px;
    background: #D25068;
    border:1px solid #D25068;
    background-image:linear-gradient(to bottom, #F66C7B, #D25068);
    border-radius:6px;
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out;
    @include breakpoint(medium) {
        font-size: $fontSize-base;
        padding: 22px 20px;
    }
    @include breakpoint(large) {
        font-size: $fontSize-large;
    }
    &:active {
        box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
        top:5px;
        &:before{
            top: -11px;
            bottom: -5px;
            content: "";
        }
    }
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        background: #F66C7B;
        background-image:linear-gradient(to top, #F66C7B, #D25068);
        color: $white;
    }
    &.btn--small {
        padding: 5px 10px;
        font-family: $font-base-bold;
        letter-spacing: 0;
        @include breakpoint(medium) {
            padding: 9px 20px;
        }
    }
}
.btn--fullWidth {
    width: 100%;
}

.form {
    margin-left: -5px;
    margin-right: -5px;
    @include breakpoint(medium) {
        margin-left: -11px;
        margin-right: -11px;
    }
    .form-item {
        margin-bottom: 10px;
        padding: 0 5px;
        @include breakpoint(medium) {
            width: auto;
            margin-bottom: 22px;
            padding-left: 11px;
            padding-right: 11px;
        }
    }
}

.form--contact {
    margin-top: 20px;
    .form-item--action {
        text-align: center;
        .btn {
            width: 245px;
        }
    }
}
